parameters:
	ignoreErrors:
		-
			message: "#^Method BaptisteContreras\\\\SymfonyRequestParamBundle\\\\DependencyInjection\\\\RequestParamExtension\\:\\:load\\(\\) has no return type specified\\.$#"
			count: 1
			path: src/DependencyInjection/RequestParamExtension.php

		-
			message: "#^Parameter \\#1 \\$requestDtoException of method BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Service\\\\Presenter\\\\ErrorPresenterInterface\\:\\:presentResponse\\(\\) expects BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Exception\\\\RequestDtoException, Throwable given\\.$#"
			count: 1
			path: src/Listener/RequestDtoExceptionListener.php

		-
			message: "#^Cannot call method getName\\(\\) on ReflectionType\\|null\\.$#"
			count: 1
			path: src/Request/ParamConverter/DtoParamConverter.php

		-
			message: "#^Cannot call method isBuiltin\\(\\) on ReflectionType\\|null\\.$#"
			count: 1
			path: src/Request/ParamConverter/DtoParamConverter.php

		-
			message: "#^Cannot call method newInstance\\(\\) on ReflectionAttribute\\<BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Configuration\\\\DtoRequestParam\\>\\|null\\.$#"
			count: 1
			path: src/Request/ParamConverter/DtoParamConverter.php

		-
			message: "#^Parameter \\#1 \\$controllerAttribute of method BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Request\\\\ParamConverter\\\\DtoParamConverter\\:\\:getTaggedParameters\\(\\) expects string, mixed given\\.$#"
			count: 1
			path: src/Request/ParamConverter/DtoParamConverter.php

		-
			message: "#^Parameter \\#1 \\$objectOrClass of class ReflectionClass constructor expects class\\-string\\<T of object\\>\\|T of object, string given\\.$#"
			count: 1
			path: src/Request/ParamConverter/DtoParamConverter.php

		-
			message: "#^Method BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Service\\\\Formatter\\\\DefaultJsonFormatter\\:\\:format\\(\\) has parameter \\$currentResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Formatter/DefaultJsonFormatter.php

		-
			message: "#^Method BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Service\\\\Formatter\\\\DefaultJsonFormatter\\:\\:format\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Formatter/DefaultJsonFormatter.php

		-
			message: "#^Method BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Service\\\\Formatter\\\\JsonFormatterInterface\\:\\:format\\(\\) has parameter \\$currentResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Formatter/JsonFormatterInterface.php

		-
			message: "#^Method BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Service\\\\Formatter\\\\JsonFormatterInterface\\:\\:format\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Formatter/JsonFormatterInterface.php

		-
			message: "#^Method BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Service\\\\Formatter\\\\ValidationErrorJsonFormatter\\:\\:format\\(\\) has parameter \\$currentResponse with no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Formatter/ValidationErrorJsonFormatter.php

		-
			message: "#^Method BaptisteContreras\\\\SymfonyRequestParamBundle\\\\Service\\\\Formatter\\\\ValidationErrorJsonFormatter\\:\\:format\\(\\) return type has no value type specified in iterable type array\\.$#"
			count: 1
			path: src/Service/Formatter/ValidationErrorJsonFormatter.php
